@model IEnumerable<Exam_2016.Models.Chat>

@{
    ViewBag.Title = "Chat";
}

<h2 class="page-title text-center">Chat</h2>
<h4 class="gutter-top text-center">Working for a company doesn't revolve only around sitting behind a desk/working for 8 hours. Often times, the colleagues you work with turn into friends.    
    The chatroom is a place to share all the funny jokes and posts you want.</h4>
<p class="gutter-top-half text-center">Enjoy!</p>
<hr />

<div id="time">

    @foreach (var item in Model)
    {
        @*<text> </text>  <text> </text> @Html.DisplayFor(model => item.Message)        @Html.DisplayFor(model => item.Time) <br />*@


        <p class="col-md-2"><b>@Html.DisplayFor(model => item.Name)</b></p>
        <p class="col-md-8">@Html.DisplayFor(model => item.Message)</p>
        <p class="col-md-2"><i>@Html.DisplayFor(model => item.Time)</i></p>
    }

    <p class="text-center">-----End of archive-----</p>

</div>

<form>
    <input id="name" type="text" placeholder="Your name" />
    <input id="msg" type="text" placeholder="Your message" />
    @*<textarea id="msg" placeholder="Your message"></textarea>*@
    <input class="chat-button" type="submit" />
</form>



@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var myHub = $.connection.myHub;

        myHub.client.helloJs = function (s) {
            $("#time").append('<p class="text-center gutter-top-half">'+ s + "</p><br>");
        }

        myHub.client.message = function (date, name, msg, cid) {
            //$("#time").append(date + " <b>" + name + ":</b> " + msg + "<br>");

            $("#time").append('<p class="col-md-2"><b>'+ name +'</b></p><p class="col-md-7">'+msg+'</p><p class="col-md-3"><i>'+date+'</i></p>');

        }

        $("form").submit(function (e) {
            e.preventDefault();
            var name = $("#name").val();
            var msg = $("#msg").val();

            myHub.server.send(name, msg);
        });

        $.connection.hub.start().done(function () {
            myHub.server.hello();
        });
    </script>
}

