@model Exam_2016.Models.CompanyRole

@{
    ViewBag.Title = "Details";
}

<h2 class="page-title">Role Details</h2>
<hr />

<div class="row role-card gutter-top">
    <div class="col-md-9">
        <h3 class="role-title"><b>@Html.DisplayFor(modelItem => Model.Name)</b></h3>
        <p class="role-description gutter-top-half">@Html.DisplayFor(modelItem => Model.Description) </p>
    </div>
    <div class="col-md-3 role-details-actions">

        @Html.ActionLink("Add to Past Roles", "AddToPastRoles", new { RoleId = Model.CompanyRoleId }, new { @class = "btn btn-role-assign" })
        @Html.ActionLink("Add to Current Roles", "AddToCurrentRoles", new { RoleId = Model.CompanyRoleId }, new { @class = "btn btn-role-assign" })
        @Html.ActionLink("Add to Future Roles", "AddToFutureRoles", new { RoleId = Model.CompanyRoleId }, new { @class = "btn btn-role-assign" })

    </div>
</div>



<h3 class="gutter-top"><b>Employee Experience with Role</b></h3>

<table class="table">
    <tr>
        <th>
            Employee Name
        </th>
        <th>
            Experience
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var employee in Model.Employees)
        {
            bool any = false;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.FirstName)
                </td>
                <td>
                    @foreach (var itemj in employee.PastRoles)
                    {
                        if (itemj.CompanyRoleId == Model.CompanyRoleId)
                        {
                            @Html.DisplayFor(modelItem => itemj.Name) @(" (Past)")
                            any = true;
                        }
                    }
                    @foreach (var itemj in employee.CurrentRoles)
                    {

                        if (itemj.CompanyRoleId == Model.CompanyRoleId)
                        {
                            if (any)
                            {
                                @("- ") 
                            }
                            @Html.DisplayFor(modelItem => itemj.Name) @(" (Current)")
                            any = true;
                        }
                    }
                    @foreach (var itemj in employee.FutureRoles)
                    {

                        if (itemj.CompanyRoleId == Model.CompanyRoleId)
                        {
                            if (any)
                            {
                                @("- ")
                            }
                            @Html.DisplayFor(modelItem => itemj.Name) @(" (Future)")
                            any = true;
                        }
                    }
                    @if(!any)
                    {
                        @("No Experience")
                    }
                </td>
            </tr>
        }
    }

</table>

<h3 class="gutter-top"><b>Role Curriculum</b></h3>

<table class="table">
    <tr>
        <th>
            Curriculum
        </th>
    </tr>
    @foreach (var item in Model.Curriculum)
    {
        <tr>
            <td>
                @(item.CurriculumContent)
            </td>
        </tr>
    }
</table>

<h3 class="gutter-top"><b>Add Suggested Curriculum To This Role</b></h3>

@using (Html.BeginForm("AddCurriculum", "Roles", FormMethod.Post))
{
    <input type="hidden" id="RoleId" name="RoleId" value="@Model.CompanyRoleId" />
    <input type="text" id="Curriculum" name="Curriculum" />
    <input type="submit" value="Add Curriculum" class="btn btn-eksponent-border" />
}
