@model Exam_2016.Models.CompanyRole

@{
    ViewBag.Title = "Details";
}

<h2>Role Details</h2>

<p>Name: @Html.DisplayFor(modelItem => Model.Name) </p>
<p>Description: @Html.DisplayFor(modelItem => Model.Description) </p>

@Html.ActionLink("Add Role to Past Roles", "AddToPastRoles", new { RoleId = Model.CompanyRoleId }) |
@Html.ActionLink("Add Role to Current Roles", "AddToCurrentRoles", new { RoleId = Model.CompanyRoleId }) |
@Html.ActionLink("Add Role to Future Roles", "AddToFutureRoles", new { RoleId = Model.CompanyRoleId })

<h3>Employee Experience with Role</h3>

<table class="table">
    <tr>
        <th>
            Employee Name
        </th>
        <th>
            Experience
        </th>
    </tr>
    @if (Model != null)
    {
        foreach (var employee in Model.Employees)
        {
            bool any = false;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.FirstName)
                </td>
                <td>
                    @foreach (var itemj in employee.PastRoles)
                    {
                        if (itemj.CompanyRoleId == Model.CompanyRoleId)
                        {
                            @Html.DisplayFor(modelItem => itemj.Name) @(" (Past)")
                            any = true;
                        }
                    }
                    @foreach (var itemj in employee.CurrentRoles)
                    {

                        if (itemj.CompanyRoleId == Model.CompanyRoleId)
                        {
                            if (any)
                            {
                                @("- ") 
                            }
                            @Html.DisplayFor(modelItem => itemj.Name) @(" (Current)")
                            any = true;
                        }
                    }
                    @foreach (var itemj in employee.FutureRoles)
                    {

                        if (itemj.CompanyRoleId == Model.CompanyRoleId)
                        {
                            if (any)
                            {
                                @("- ")
                            }
                            @Html.DisplayFor(modelItem => itemj.Name) @(" (Future)")
                            any = true;
                        }
                    }
                    @if(!any)
                    {
                        @("No Experience")
                    }
                </td>
            </tr>
        }
    }

</table>

<h3>Role Curriculum</h3>

<table class="table">
    <tr>
        <th>
            Curriculum
        </th>
    </tr>
    @foreach (var item in Model.Curriculum)
    {
        <tr>
            <td>
                @(item.CurriculumContent)
            </td>
        </tr>
    }
</table>

<h2>Add Curriculum To This Role</h2>

@using (Html.BeginForm("AddCurriculum", "Roles", FormMethod.Post))
{
    <input type="hidden" id="RoleId" name="RoleId" value="@Model.CompanyRoleId" />
    <input type="text" id="Curriculum" name="Curriculum" />
    <input type="submit" value="Add Curriculum" />
}
