@model Exam_2016.Models.RoleIndexViewModel

@{
    ViewBag.Title = "Index";
}

@if (Model.CompanyRoles != null || Model.CurrentCompany != null || Model.CurrentEmployee != null)
{

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Roles for @ViewBag.CurrentCompanyName</h2>

<table class="table">
    <tr>
        <th>
            Company Id
        </th>
        <th>
            Role Name
        </th>
        <th>
            Role Description
        </th>
        <th>
            Role Id
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model.CompanyRoles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyRoleId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { RoleId = item.CompanyRoleId })
                @{
                    foreach (var admin in Model.CurrentCompany.Admins)
                    {
                        if (admin == Model.CurrentEmployee.Id)
                        {
                            @Html.ActionLink("Edit", "Edit", new { RoleId = item.CompanyRoleId }) @("|")
                            @Html.ActionLink("Delete", "Delete", new { RoleId = item.CompanyRoleId });
                        }
                    }
                }
            </td>
        </tr>
    }

</table>
}
else {
    <p class="alert-danger text-center">You must be in a company to view its roles.</p>
}