@model Exam_2016.Models.RoleIndexViewModel

@{
    ViewBag.Title = "Index";
}

@if (Model.CompanyRoles != null || Model.CurrentCompany != null || Model.CurrentEmployee != null)
{


    <div class="row role-index-header page-title">
        <h2 class="col-md-10">Roles for @ViewBag.CurrentCompanyName</h2>

        <div class="col-md-2">
            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-role-index-create btn-eksponent" })
        </div>
    </div>

    <hr />

@*<table class="table">
    <tr>
        <th>
            Company Id
        </th>
        <th>
            Role Name
        </th>
        <th>
            Role Description
        </th>
        <th>
            Role Id
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model.CompanyRoles)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyRoleId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { RoleId = item.CompanyRoleId })
                @{
                    foreach (var admin in Model.CurrentCompany.Admins)
                    {
                        if (admin == Model.CurrentEmployee.Id)
                        {
                            @Html.ActionLink("Edit", "Edit", new { RoleId = item.CompanyRoleId }) @("|")
                            @Html.ActionLink("Delete", "Delete", new { RoleId = item.CompanyRoleId });
                        }
                    }
                }
            </td>
        </tr>
    }

</table>*@

    foreach (var item in Model.CompanyRoles)
    {
        <div class="row role-card">
            <div class="col-md-11">
                <h3 class="role-title">@Html.DisplayFor(modelItem => item.Name)</h3>
                <p class="role-description">@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
            <div class="col-md-1 role-actions">

                @Html.ActionLink("Details", "Details", new { RoleId = item.CompanyRoleId }, new { @class = "btn btn-role-index-actions"})
                @{
                    foreach (var admin in Model.CurrentCompany.Admins)
                    {
                        if (admin == Model.CurrentEmployee.Id)
                        {
                            @Html.ActionLink("Edit", "Edit", new { RoleId = item.CompanyRoleId }, new { @class = "btn btn-role-index-actions" })
                            @Html.ActionLink("Delete", "Delete", new { RoleId = item.CompanyRoleId }, new { @class = "btn btn-role-index-actions" })
                            }
                        }
                }

            </div>
        </div>


    }



}
else
{
    <h3 class="alert-danger text-center">You must be in a company to view its roles.</h3>
}