@model Exam_2016.Models.CompanyViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Company Index</h2>

@if (Model.CurrentEmployee.CompanyId == 0 || Model.CurrentEmployee.CompanyId == null)
{
    <p>
         @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
               Name
            </th>
            <th>
               Logo
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.Companies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.CompanyId }) |
                @Html.ActionLink("Assign yourself", "BecomePartOfCompany", new { companyId = item.CompanyId })
            </td>
        </tr>
    }

</table>
}
else
{
    foreach (var company in Model.Companies)
    {
        if (Model.CurrentEmployee.CompanyId == company.CompanyId)
        {
            <p>Welcome to @Html.DisplayFor(modelItem => company.Name).</p>
            <h3>Your colleagues:</h3>
            <table class="table">
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Position
                    </th>
                    <th>Details</th>
                </tr>

            @foreach (var employee in company.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => employee.FirstName)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => employee.LastName)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => employee.Position)
                    </td>
                    <td>
                        @Html.ActionLink("Details Page", "EmployeeDetails", "Manage", new { id = employee.Id }, null)
                    </td>
                </tr>
            }
            
                                    
            </table>

            <h3>List of Roles in @Html.DisplayFor(modelItem => company.Name)</h3>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Link to Details page
                    </th>
                    
                    <th></th>
                </tr>
                @foreach (var role in company.Roles)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => role.Name)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", "Roles", new { RoleId = role.CompanyRoleId }, null)
                    </td>

                   
                </tr>


                }
            </table>

            @*//alternate representation of roles and employees
            <p>List of Roles in @Html.DisplayFor(modelItem => company.Name)</p>
            foreach (var role in company.Roles)
            {
                <span>@Html.DisplayFor(modelItem => role.Name)</span> 
                <span>@Html.ActionLink("Details", "Details", "Roles", new { RoleId = role.CompanyRoleId }, null)</span>
                foreach (var employee in role.Employees)
                {
                    <p>
                        <span>@Html.DisplayFor(modelItem => employee.FirstName) @Html.DisplayFor(modelItem => employee.LastName)</span>
                        <span>@Html.ActionLink("Details Page", "EmployeeDetails", "Manage", new { id = employee.Id } , null)</span>
                    </p>
                }
            }*@
        }
    }

}
