@model Exam_2016.Models.CompanyViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Model.CurrentEmployee.CompanyId == 0 || Model.CurrentEmployee.CompanyId == null)
{
    <p>
         @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
               Name
            </th>
            <th>
               Logo
            </th>
            <th>
               Next Yearly Interview
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model.Companies) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NextYearlyInterview)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CompanyId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CompanyId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CompanyId }) |
                @Html.ActionLink("Assign yourself", "BecomePartOfCompany", new { companyId = item.CompanyId })
            </td>
        </tr>
    }

</table>
}
else
{
    foreach (var company in Model.Companies)
    {
        if (Model.CurrentEmployee.CompanyId == company.CompanyId)
        {
            <p>Welcome to @Html.DisplayFor(modelItem => company.Name).</p>
            <p>Your colleagues:</p>
            <table class="table">
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Position
                    </th>
                    <th></th>
                </tr>

            @foreach (var employee in company.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => employee.FirstName)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => employee.LastName)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => employee.Position)
                    </td>
                </tr>
            }
            
                                    
            </table>

            <table class="table">
                <caption>List of Roles in @Html.DisplayFor(modelItem => company.Name)</caption>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Link to Details page
                    </th>
                    
                    <th></th>
                </tr>
                @foreach (var role in company.Roles)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => role.Name)
                    </td>

                    <td>
                        @Html.ActionLink("Details", "Details", "Roles", new { id = role.CompanyRoleId }, null)
                    </td>

                   
                </tr>


                }
            </table>

        }
    }

}
