@model Exam_2016.Models.CompanyViewModel

@{
    ViewBag.Title = "Index";
}

@if (Model.CurrentEmployee.CompanyId == 0 || Model.CurrentEmployee.CompanyId == null)
{

    <div class="row page-title">
        <h2 class="col-md-10">Companies</h2>

        <div class="col-md-2">
            @Html.ActionLink("Create New", "Create", "", new { @class = "btn btn-role-index-create btn-eksponent" })
        </div>
    </div>

    <hr />

    foreach (var item in Model.Companies)
    {
        <div class="row role-card">

            @*<div class="col-md-1">
                <img class="col-md-2 company-logo" src="@Html.DisplayFor(model => model.Logo)" alt="Company Logo" />

            </div>*@

            <img class="col-md-2 company-index-logo" src="@Html.DisplayFor(modelItem => item.Logo)" alt="Company Logo" />


            <div class="col-md-8">
                <h3 class="role-title">@Html.DisplayFor(modelItem => item.Name) </h3>
            </div>

            <div class="col-md-2 company-index-actions">
                
                @Html.ActionLink("Details", "Details", new { id = item.CompanyId }, new { @class="btn btn-eksponent-border" })
                @Html.ActionLink("Enroll", "BecomePartOfCompany", new { companyId = item.CompanyId }, new { @class = "btn btn-eksponent-border" })


            </div>
        </div>
    }

}
else
{
    foreach (var company in Model.Companies)
    {
        if (Model.CurrentEmployee.CompanyId == company.CompanyId)
        {
            <div class="row page-title">
                @if (company.Admin == Model.CurrentEmployeeStringId)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = company.CompanyId }, new { @class = "btn btn-eksponent-border" })
                }
                <img class="company-logo col-md-2" src="@Html.DisplayFor(modelItem => company.Logo)" alt="Mountain View" >
                <h2 class="col-md-4">@Html.DisplayFor(modelItem => company.Name)</h2>
                <div class="col-md-6 company-nyi">
                    <h4>Next Yearly Interview</h4>
                    <p>@Html.DisplayFor(modelItem => company.NextYearlyInterview)</p>
                </div>
            </div>
            
            <hr />

            <div id="chart">

            </div>

            <hr />
            
            <h3 class="gutter-top-x2"><b>Your colleagues</b></h3>
            <table class="table">
                <tr>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Position
                    </th>
                    <th>Details</th>
                </tr>

            @foreach (var employee in company.Employees)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => employee.FirstName)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => employee.LastName)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => employee.Position)
                    </td>
                    <td>
                        @Html.ActionLink("Details Page", "EmployeeDetails", "Manage", new { id = employee.Id }, null)
                    </td>
                </tr>
            }
            
                                    
            </table>

            <h3 class="gutter-top-x2"><b>List of Roles in @Html.DisplayFor(modelItem => company.Name)</b></h3>
            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>Number of employees</th>
                    <th>
                        Link to Details page
                    </th>
                    
                    
                </tr>
                @foreach (var role in company.Roles)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => role.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => role.Employees.Count )
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Roles", new { RoleId = role.CompanyRoleId }, null)
                    </td>

                   
                </tr>


                }
            </table>

        }
    }

}

@section Scripts {
    @Scripts.Render("~/Scripts/main.js")
}