
@model Exam_2016.Models.Employee
@{
    ViewBag.Title = "EmployeeDetails";
}

<h2>EmployeeDetails</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentRoles)
        </dt>
        <dd>
            @foreach (var role in Model.CurrentRoles)
            {
                <span>@Html.DisplayFor(modelItem => role.Name)</span>
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FutureRoles)
        </dt>
        <dd>
            @foreach (var role in Model.FutureRoles)
            {
                <span>@Html.DisplayFor(modelItem => role.Name)</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PastRoles)
        </dt>
        <dd>
            @foreach (var role in Model.PastRoles)
            {
                <span>@Html.DisplayFor(modelItem => role.Name)</span>
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EmployeeInfoEdit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
